.about-us-page {
  .about-us-banner {
    height: 449px;
    background: url(../../assets/img/banner-aboutus.png) no-repeat center;
  }
  .layout-team {
    height: 500px;
    background-color: #ffffff;
  }
  .layout-contact {
    height: 779px;
    background-color: #0066b3;
  }
}