.about-us-page {
  .about-us-banner {
    height: 449px;
    background: url(../../assets/img/banner-aboutus.png) no-repeat center;
  }
  .team-layout {
    padding: 45px 0 66px 0;
    max-width: 1170px;
    margin: auto;
    
    .slick-dots{display: none !important;}
    .team-title {
      font-size: 26px;
      line-height: 22px;
      color: #333333;
      text-align: center;
      font-weight: bold;
    }
    hr {
      width: 41px;
      height: 2px;
      background-color: #666666;
      margin: 22px auto 23px auto;
    }
    .team-des {
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #333333;
      max-width: 650px;
      margin: auto;
    }
    .team-special {
      font-size: 26px;
      line-height: 22px;
      text-align: center;
      color: #0066b3;
      margin: 33px auto 50px auto;
    }
    .slick-list .slick-track .slick-slide {
      padding: 30px;
    }
    .slick-next {
      background:#fff url(../../assets/img/next-arrowG.png) no-repeat;
      width: 30px;
      height: 50px;
      right: 0px;
      &::before {
        content: ''
      }
      &:hover{
        background: url(../../assets/img/next-arrowHv.png);
      }
    }
    .slick-prev {
      background:#fff url(../../assets/img/back-arrowG.png) no-repeat;
      width: 30px;
      height: 50px;
      left: 0px;
      &::before {
        content: ''
      }
      &:hover{
        background: url(../../assets/img/back-arrowHv.png);
      }
    }
    .mem-item {
      img {
        width: 210px;
        border-radius: 50%;
        margin: 0 auto 27px auto;
      }
      .mem-name {
        font-size: 18px;
        color: #333333;
        text-align: center;
        font-weight: bold;
      }
      .mem-title {
        font-size: 18px;
        color: rgba(51, 51, 51, 0.7);
        text-align: center;
        margin-bottom: 18px;
      }
      .mem-detail {
        color: #333333;
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .layout-contact {
    background-color: #0066b3;
    padding: 63px 0;
    .title {
      color: #ffffff;
      font-size: 26px;
      line-height: 22px;
      font-weight: bold;
      text-align: center;
    }
    hr {
      width: 41px;
      height: 2px;
      margin: 21px auto 33px auto;
      background-color: #ffffff;
      opacity: 0.8;
    }
    .contact-des {
      font-family: 'OpenSans';
      line-height: 22px;
      font-size: 26px;
      text-align: center;
      color: #ffffff;
      margin-bottom: 34px;
    }
    .contact-content {
      max-width: 770px;
      display: flex;
      margin: auto;

      .contact-box {
        .info-box {
          .contact-title {
            font-weight: bold;
            color: #66ccff;
          }
          .info-content {
            color: #52b4ec;
            .info-address {
              color: #33ffff;
            }
            .info-hotline {
              color: #ffff33;
            }
            .info-email {
              color: #33ffff;
            }
          }
        }
        .msg-box {
          .contact-title {
            font-weight: bold;
            color: #66ccff;
          }
          .msg-text {
            border: solid 1px #0078d3;
            background-color: transparent;
            color: #ffffff;
            &::placeholder { /* Firefox, Chrome, Opera */ 
                color: #008ffb;
            } 
            &::-ms-input-placeholder { /* Internet Explorer 10-11 */ 
                color: #008ffb; 
            } 
            &::-ms-input-placeholder { /* Microsoft Edge */ 
                color: #008ffb; 
            } 
          }
          .btn-send-msg {
            background-color: #0a9cfe;
          }
        }
      }
    }
  }
}