.consulting-page {
  .consulting-banner {
    height: 100px;
    background: url(../../assets/img/banner-tuvanCKPS.png) no-repeat center;
    h3 {
      font-size: 30px;
      color: #ffffff;
      line-height: 100px;
      font-family: "OpenSans";
      text-align: center;
    }
  }
  .page-content {
    max-width: 1170px;
    margin: auto;
    padding: 30px 0;
    .consulting-menu {
      text-align: center;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      .menu-item {
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        color: #111111;
        display: inline-block;
        position: relative;
        cursor: pointer;
        padding: 0 20px;
        height: 30px;
        line-height: 30px;
        margin-bottom: 15px;
        &.active {
          color: #ffffff;
          background-color: #005197;
          &::after {
            content: "";
            position: absolute;
            left: 42%;
            top: 100%;
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 12px solid transparent;
            border-top: 11px solid #005197;
            clear: both;
          }
        }
      }
    }
    .layout-robot-consulting {
      .title {
        font-size: 18px;
        color: #111111;
        font-family: Arial;
        margin-top: 30px;
        span {
          font-weight: bold;
        }
      }
      hr {
        width: 71px;
        height: 2px;
        background-color: #736d6d;
        margin: 0 0 20px 0;
      }
      .table {
        .btn-register {
          border: 1px solid #ccc;
          background-color: transparent;
          color: #333333;
          width: 70px;
          height: 25px;
          border-radius: 12px;
          &.active {
            border: 1px solid #005197;
            background-color: #005197;
            color: #ffffff;
          }
          &:hover {
            border: 1px solid #005197;
            background-color: #005197;
            color: #ffffff;
          }
          &:focus {
            outline: 0;
          }
        }
        thead tr th {
          font-size: 14px;
          color: #111111;
          font-family: Arial;
          vertical-align: middle;
          padding: 0.5rem;
          white-space: nowrap;
        }
        tbody tr td {
          font-size: 14px;
          color: #111111;
          font-family: Arial;
        }
      }
      .box-chat-consulting {
        .box-chat {
          max-height: 400px;
          overflow-y: auto;
          padding-bottom: 40px;
        }
        .box-input-chat {
          display: flex;
          .btn-primary {
            border-radius: 0;
            background-color: #005197;
            color: #ffffff;
          }
        }
      }
      .layout-tool {
        display: flex;
        .tool-trader-layout {
          color: #005197;
          font-size: 16px;
          font-family: Arial;
          min-width: 350px;
          .tool-trader-item {
            line-height: 36px;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
            img {
              height: 16px;
              margin: 0 10px 5px 0;
            }
          }
        }
        .room-trader-layout {
          min-width: 300px;
          display: flex;
          justify-content: space-between;
          .room-trader-item {
            display: flex;
            margin-top: 5px;
            img {
              width: 16px;
              height: 16px;
              margin-right: 7px;
              margin-top: 5px;
            }
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .consulting-page {
    .page-content {
      padding: 20px;
    }
  }
}
@media screen and (max-width: 575px) {
  .consulting-page {
    .consulting-banner {
      display: flex;
      align-items: center;
      h3 {
        font-size: 22px;
        line-height: 30px;
      }
    }
    .page-content {
      .layout-robot-consulting {
        .title {
          margin-top: 20px;
          font-size: 16px;
        }
        .layout-tool {
          flex-direction: column;
          .room-trader-layout {
            justify-content: start;
            margin-left: 20px;
            .room-trader-item {
              padding-right: 15px;
            }
          }
        }
      }
    }
  }
}
