@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('../fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
}