.investor {
  width: 270px;
  margin: 0 50px 20px 0;
  position: relative;
  img {
    height: 56px;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
  }
  .title {
    font-size: 14px;
    font-family: Arial;
    color: #333333;
    font-weight: bold;
    text-align: center;
    margin: 80px auto 17px auto;
  }
  .detail {
    font-size: 14px;
    line-height: 22px;
    color: rgba(51,51,51,0.75);
    text-align: center;
  }
}