.signin_page {
  &.fgp_page {
    .contentForm {
      .rightF {
        .form-detail {
          .form-row {
            label {
              margin-bottom: 10px;
            }
            .input-text {
              &:focus {
                &::-webkit-input-placeholder {
                  color: transparent;
                }
                &::-moz-placeholder {
                  color: transparent;
                } /* FF 4-18 */
                &::-moz-placeholder {
                  color: transparent;
                }
                &::-ms-input-placeholder {
                  color: transparent;
                }
              }
            }
          }
          .register {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}
