.formSearchR{display:none;}
@media screen and (min-width: 1024px) 
{
    .home-page {
        .box-news {
            .box-width-limit {
                .box-new-item
                {
                    flex-basis: 33.3%;
                    margin: 0px 15px;
                    &:nth-child(1){
                        margin-left: 0px;
                    }
                    &:nth-child(3){
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1023px) and (min-width: 992px) {
    .home-page 
    {
        .home-slider-menu
        {
            .home-menu {
                .home-menu-item{
                    height: 40px;
                    line-height: 40px;
                    i {
                        position: absolute;
                        right: 15px;
                        top: 8px;
                    }
                    &.active{
                        height: auto;
                    }
                }
            } 
        }
        .box-news {
            .box-width-limit {
                .box-new-item
                {
                    flex: 33.3%;
                    max-width: 33.3%;
                    margin: 0px 15px;
                    &:nth-child(1){
                        margin-left: 0px;
                    }
                    &:nth-child(3){
                        margin-right: 0px;
                    }
                }
            }
        }
    }
    
}
@media screen and (max-width: 991px) {
    .header-top {
        justify-content: center;
        .menu-top-limit{
            display: none;
        }
        .register-top-limit{
            justify-content: center;
        }
    }
    .navbar-nav{
        .nav-link {
            line-height: 40px !important;
            &.dropdown-toggle::after{
                top: 27% !important;
            }
        }
    }
    .form-inline {
        padding:0px;
    }
    .formSearch{display:none;}
    .formSearchR{
        display: flex;justify-content: flex-end;
        .search-input{
            background: #005197;
            color: #75c4f0;
            height: 40px;
            width: 100%;
            border: 1px solid #005999;
            border-radius: 0px;
            position: relative;margin-right: 0px !important;
            padding: 0px 20px;
            &::placeholder{
                color: #75c4f0;
            }
        }
        .btn-search {
            cursor: pointer;
            z-index: 9;
            position: absolute;
            right: 15px;
        }
    }
    .home-page 
    {
        .home-slider-menu {
            padding: 1px 0;
            flex-direction: column;
            .home-slider {
                width: 100%;
            }
            .home-menu {
                width: 100%;
                .home-menu-item 
                {
                    .sub-menu-show {
                        margin-left: -17px;
                        height: auto;
                    }
                }
                
            }
        }
        .box-news {
            height: auto;
            padding-top: 20px;
            padding-bottom: 20px;
            .box-width-limit {
                flex-wrap: wrap;
                .box-new-item
                {   
                    margin-bottom: 20px;
                    &:first-child{
                        flex-basis: 96%;
                    }
                    &:nth-child(2){
                        flex-basis: 47%;
                        margin:0%;
                    }
                    &:nth-child(3){
                        flex-basis: 47%;
                        margin:0%;
                    }
                }
            }
        }
    }
    .footer-box{
        .footer {
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0px 15px;
            margin-bottom: 15px;
            .footer-item {
                flex-basis: 33.3%;
                padding-top: 20px;
            }
        }
    }
    .consulting-page {
        .experts-layout {
            min-height: auto;
            padding-bottom:30px;
        }
    }
    

}

@media (min-width:768px) and (max-width: 991px) {
    .home-page {
        .box-news {
            .box-width-limit {
                .box-new-item {

                }
            }
        }
    }

}
@media screen and (max-width:767px) and (min-width:375px)
{
    .home-page {
        .home-slider-menu {
          .home-slider {
            .carousel-caption {
                top: 0px;    width: 100%;
              .banner-title {
                  padding:0 15px;
                  font-size: 18px;
              }
              ul{
                  padding:10px 15px;
                  li{
                      font-size: 14px;
                  }
              }
              .banner-detail{
                  margin-left: 15px;
                  font-size: 14px;
                  padding: 3px 10px;
              }
            }
        }
        
    }
    .box-news {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        .box-width-limit {
            flex-wrap: wrap;
            .box-new-item
            {   
                margin-bottom: 20px;
                &:first-child{
                    flex-basis: 96%;
                }
                &:nth-child(2){
                    flex-basis: 96%;width: 96%;
                    margin:0% 2%;
                }
                &:nth-child(3){
                    flex-basis: 96%;width: 96%;
                    margin:0% 2%;
                }
            }
        }
    }
    


}
.footer-box{
    .footer {
        .footer-item {
            flex-basis: 50% !important;
        }
    }
}
.carousel-control-next, .carousel-control-prev {width:10%;}
.contact-box{
    flex-wrap: wrap;
    .info-box{
        margin-bottom: 15px;width: 100%;max-width: 100%;
    }
    .msg-box {
        max-width: 100%;
    }
}
.trading-instruction-page
{
    .content-box {
        .contact-box-layout {
            hr{margin-bottom: 15px;}
        }
    }
}
}
@media screen and (max-width:374px)
{
    .home-page {
        .home-slider-menu {
          .home-slider {
            .carousel-caption {
                top: 0px;
                left: 25px;
                padding-top: 10px;
                width:100%;
              .banner-title {
                  padding:0 15px;
                  font-size: 16px;
              }
              ul{
                  padding:0px 15px 10px  15px;
                  font-size: 14px;
                  margin: 0px;
              }
              .banner-detail{
                  margin-left: 15px;
                  font-size: 14px;
                  padding: 3px 10px;
              }
            }
            .carousel-indicators{
                display: none;
            }
        }
    }
}

.contact-box{
    flex-wrap: wrap;
    .info-box{
        margin-bottom: 15px;
    }
    .msg-box {
        max-width: 100%;
    }
}
.trading-instruction-page
{
    .content-box {
        .contact-box-layout {
            hr{margin-bottom: 15px;}
        }
    }
}

}

@media screen and (max-width: 575px) {
    .header-top {
        justify-content: center;
        min-height: auto;
        .menu-top-limit{
            display: none;
        }
        .register-top-limit{
            height: auto;
            display: flex;
            flex-direction: column;
            min-width: 320px;
            text-align: center;
            margin-bottom: 5px;
            span {
                line-height: 30px;
            }
            .listBtn{
                margin-top: 3px;
            }
            .btn{
                margin-left: 0px;
                margin-top: 0px;
            }
        }
    }
    
    .box-news {
        .box-width-limit {
            .box-new-item {
                &:nth-child(2){
                    flex-basis: 96%;
                    margin:0px 2%;
                }
                &:nth-child(3){
                    flex-basis: 96%;
                    margin:0px 2%;
                }
        }
    }
}

.footer-box{
    .footer {
        .footer-item {
            flex-basis: 100% !important;
        }
    }
}


}