.trading-instruction-page {
  max-width: 1170px;
  margin: auto;
  .banner {
    position: relative;
    margin-bottom: 30px;
    img {
      width: 100%;
    }
    .title {
      font-family: 'OpenSans-Bold';
      font-size: 45px;
      color: #ffffff;
      text-align: center;
      line-height: 64px;
      position: absolute;
      top: 60px;
      width: 100%;
    }
    .sub-title {
      font-family: 'OpenSans';
      font-size: 40px;
      color: #ffffff;
      text-align: center;
      line-height: 64px;
      color: #59e6ff;
      position: absolute;
      top: 130px;
      width: 100%;
    }
  }
  .content-box {
    max-width: 1170px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    .guide-menu {
      // max-width: 770px;
      flex-basis: 65%;
      margin-right: 20px;
      .title {
        font-size: 24px;
        color: #125491;
        font-family: Arial;
      }
      hr {
        background-color: #125491;
        width: 71px;
        height: 2px;
        margin: 5px 0 27px 0;
      }
      .list-menu-box {
        max-width: 100%;
        padding: 0px;
        background-color: #f7f7f7;
        .menu-item-box {
          list-style: none;
          max-height: 50px;
          overflow: hidden;
          position: relative;
          -webkit-transition: max-height 2s; 
          -moz-transition: max-height 2s; 
          -ms-transition: max-height 2s; 
          -o-transition: max-height 2s; 
          transition: max-height 2s;
          margin: 0;
          padding: 0;
          .arrow {
            color: #333333;
            position: absolute;
            right: 10px;
            top: 15px;
          }
          &.active {
            max-height: none;
            -webkit-transition: max-height 2s; 
            -moz-transition: max-height 2s; 
            -ms-transition: max-height 2s; 
            -o-transition: max-height 2s; 
            transition: max-height 2s;
            .arrow {
              color: #ffffff;
            }
          }
          li {
            padding-left: 16px;
            color: #125491;
            font-size: 15px;
            font-family: Arial;
            line-height: 36px;
            cursor: pointer;
            i {
              color: #666666;
              margin-right: 5px;
              font-size: 12px;
              line-height: 36px;
            }
            &:hover {
              text-decoration: underline;
            }
          }
          .menu-catalog {
            height: 50px;
            line-height: 50px;
            padding: 0 17px;
            font-weight: bold;
            font-size: 16px;
            box-shadow: 0px 1px 0 0 #e3e3e3;
            background: #ffffff;
            cursor: pointer;
            margin-bottom: 5px;
            color: #333333;
            &:hover {
              text-decoration: none;
            }
            &.active {
              color: #ffffff;
              background-color: #125491;
            }
          }
        }
      }
    }
    .top-guide {
      // position: relative;
      // max-width: 370px;
      flex-basis: 33%;
      .title {
        background-color: #dce0e4;
        height: 50px;
        line-height: 50px;
        font-family: Arial;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
      }
      .box-top-guide {
        list-style: none;
        padding: 0 20px;
        text-align: center;
        border: solid 1px #dedede;
        i {
          font-size: 12px;
          line-height: 36px;
          margin-right: 5px;
        }
        li {
          font-size: 14px;
          color: #333333;
          line-height: 36px;
          text-align: left;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
      .register-box {
        width: 100%;
        height: 160px;
        background: url(../../../assets/img/bg_open_account.jpg) no-repeat center;
        padding-top: 30px;
        text-align: center;
        .register-text {
          font-size: 16px;
          font-family: Arial;
          color: #dff0ff;
          line-height: 30px;
          margin: 0;

          span {
            color: #59e6ff;
            font-size: 20px;
          }
        }
        .btn-register {
          width: 157px;
          height: 36px;
          margin: 15px auto 0 auto;
          border-radius: 18px;
          background-color: #59e6ff;
          color: #333333;
          i {
            margin-right: 5px;
          }
          &:hover {
            background-color:#0066b3;
            color: #ffffff;
          }
        }
      }
    }
    .contact-box-layout {
      margin-top: 35px;
      max-width: 770px;
      .title {
        font-family: Arial;
        font-weight: bold;
        color: #333333;
        font-size: 18px;
      }
      hr {
        height: 2px;
        width: 71px;
        background-color: #676e72;
        margin: 0 0 34px 0;
      }
      .contact-box {
        .info-box {
          .contact-title {
            font-weight: bold;
            color: #333333;
          }
          .info-content {
            color: #666666;
            .info-address {
              color: #333333;
            }
            .info-hotline {
              color: #d9261c;
            }
            .info-email {
              color: #125491;
            }
          }
        }
        .msg-box {
          .contact-title {
            font-weight: bold;
            color: #333333;
          }
          .msg-text {
            border: solid 1px #d0d0d0;
            background-color: transparent;
            border-radius: 0px;
            &::placeholder { /* Firefox, Chrome, Opera */ 
                color: #666666;
            } 
            &::-ms-input-placeholder { /* Internet Explorer 10-11 */ 
                color: #666666; 
            } 
            &::-ms-input-placeholder { /* Microsoft Edge */ 
                color: #666666; 
            } 
          }
          .btn-send-msg {
            background-color: #005197;
          }
        }
      }
    }
  }
}
@media (max-width: 1165px) {
  .content-box {
    padding: 20px;
    .guide-menu {
      max-width: 100% !important;
      .list-menu-box {
        max-width: 100% !important;
      }
    }
    .top-guide {
      max-width: 100% !important;
    }
  }
}
@media (min-width: 1170px) {
  
}
@media (max-width: 1040px)  and (min-width:992px){
  .trading-instruction-page{
  .content-box {    
      .guide-menu {
        flex-basis: 64%;
      }
    }
    
  }
}
@media (max-width: 991px) {
  .trading-instruction-page{
  .content-box {    
    flex-direction: column;
    padding-top: 10px;
      .guide-menu {
        flex-basis: 100%;
        margin-right: 0px;
      }
    }
  }
}
@media (max-width: 767px) {
  .banner {
    .title {
      font-size: 30px !important;
      top: 20px !important;
    }
    .sub-title {
      font-size: 26px !important;
      top: 55px !important;
    }
  }
  .contact-content-box {
    display: block !important;
    position: relative;
    padding-bottom: 20px !important;
    .info-box {
      max-width: 100% !important;
      text-align: center;
    }
    .msg-box {
      max-width: 100% !important;
      .btn-send-msg {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        left: 50%;
      }
    }
  }
}
@media screen and (max-width:767px) and (min-width:375px)
{
  .trading-instruction-page
  {
    .content-box {
        .contact-box-layout {
            hr{margin-bottom: 15px;}
        }
      }
  }
}
@media screen and (max-width:374px)
{
  .trading-instruction-page
  {
      .content-box {
          .contact-box-layout {
              hr{margin-bottom: 15px;}
          }
      }
  }
}