.consulting-page .banner-layout {
  height: 450px;
  background-color: cadetblue;
  padding-top: 36px;
  position: relative;
  background: url("../../../assets//img//ic-banner-consulting.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.consulting-page .banner-layout .title {
  font-size: 30px;
  font-family: OpenSans;
  text-align: center;
  color: #ffffff;
  margin-bottom: 34px;
}

.consulting-page .banner-layout .sub-title {
  font-family: OpenSans-Light;
  font-size: 17px;
  color: #e8e8e8;
  text-align: center;
  max-width: 634px;
  margin: auto;
}

.consulting-page .banner-layout .price-consulting {
  font-size: 24px;
  font-family: OpenSans-Light;
  color: #e8e8e8;
  line-height: 40px;
  text-align: center;
  margin: 21px auto 31px auto;
}

.consulting-page .banner-layout .btn-register {
  border: solid 1px #f2f2f2;
  background-color: transparent;
  color: #e8e8e8;
  font-size: 15px;
  font-family: Arial;
  border-radius: 20px;
  min-width: 127px;
  text-align: center;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  line-height: 40px;
  padding: 0;
  height: 40px;
}

.consulting-page .banner-layout .btn-register:hover {
  background-color: #75c4f0;
  color: #000000;
}

.consulting-page .banner-layout .btn-arrow-down {
  height: 103px;
  width: 50px;
  position: absolute;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  background: url("../../../assets/img/ic_arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.consulting-page .slogan-layout {
  max-width: 1170px;
  padding: 43px 0 56px 0;
  margin: auto;
}

.consulting-page .slogan-layout .title {
  font-size: 26px;
  line-height: 22px;
  font-family: Arial;
  color: #333333;
  text-align: center;
  font-weight: bold;
}

.consulting-page .slogan-layout hr {
  background-color: #29323c;
  height: 2px;
  width: 40px;
  margin: 21px auto 29px auto;
}

.consulting-page .slogan-layout .slogan-detail {
  font-size: 16px;
  font-family: Arial;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.consulting-page .investor-layout {
  padding: 50px 0 56px 0;
  background-color: #f1f1f1;
}

.consulting-page .investor-layout .investor-title {
  color: #333333;
  font-size: 26px;
  line-height: 22px;
  font-family: Arial;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.consulting-page .investor-layout hr {
  background-color: #29323c;
  height: 2px;
  width: 40px;
  margin: 21px auto 29px auto;
}

.consulting-page .investor-layout .list-investor {
  max-width: 1170px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.consulting-page .review-layout {
  padding: 50px 0;
  max-width: 850px;
  margin: auto;
}

.consulting-page .review-layout .review-title {
  color: #333333;
  font-size: 26px;
  line-height: 22px;
  font-family: Arial;
  font-weight: bold;
  margin: auto;
  text-align: center;
}

.consulting-page .review-layout hr {
  background-color: #29323c;
  height: 2px;
  width: 40px;
  margin: 21px auto 29px auto;
}

.consulting-page .experts-layout {
  min-height: 700px;
  padding-top: 63px;
  background: url("../../../assets/img/expert-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.consulting-page .experts-layout .expert-title {
  font-size: 26px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}

.consulting-page .experts-layout hr {
  background-color: #29323c;
  height: 2px;
  width: 40px;
  margin: 21px auto 29px auto;
}
/*# sourceMappingURL=consulting.css.map */