.header-top {
  min-height: 50px;
  display: flex;
  width: 100%;
  max-width: 1170px;
  margin: auto;
  background-color: #ffffff;
  justify-content: space-between;
  .menu-top-limit {
      justify-content: flex-start;
      display: flex;
      padding-left: 20px;
      min-width: 410px;
      a {
        color: #333333;
        line-height: 50px;
        &:hover {
          text-decoration: underline;
        }
      }
      .col-separator {
        width: 2px;
        height: 15px;
        background-color: #7691a9;
        margin: auto 020px;
      }
  }
  .register-top-limit {
      height: 50px;
      display: flex;
      justify-content: flex-end;
      min-width: 572px;
      span {
        line-height: 50px;
        font-size: 12px;
        span {
          color: #d71921;
          cursor: text;
          &:hover {
            color: #d71921;
          }
        }
      }
      .btn {
        min-width: 121px;
        height: 30px;
        border-radius: 18px;
        font-size: 14px;
        line-height: 18px;
        margin-left: 14px;
        margin-top: 10px;   
        display: inline-flex;    
        i {
          font-size: 12px;
          margin: 0 5px;
          &.ic_account{
            background: url('../../assets/img/icAccount.png');
            height: 14px;
            width:13px;
          }
          &.ic_unlock{
            background: url('../../assets/img/icLock.png');
            height: 17px;
            width:13px;
            
          }
        }
        label{
          padding:6px 0px;
        }
      }
      .btn-register {
        background-color: #005197;
        color: #ffffff;
        &:hover {
          background-color:#0066b3;
        }
      }
      .btn-login {
        background-color: transparent;
        &:hover {
          background-color:#0066b3;
          color: #ffffff;
          .ic_unlock{
            background: url('../../assets/img/icUnlockW.png');
            width: 12px;
          }
        }
      }
  }
}
@media (max-width: 793px) {
  .header-top {
    display: inline-table;
  }
}
// @media (max-width: 1160px) {
//   #guide-register-text {
//     display: none;
//   }
// }
// @media (max-width: 767px) {
//   .header-top {
//     display: block;
//     .menu-top {
//       padding-left: 20px;
//       flex-direction: column;
//       .menu-top-left {
//         display: none;
//       }
//       .col-separator {
//         display: none;
//       }
//       a {
//         padding: 0;
//         line-height: 30px;
//       }
//     }
//     .register-top {
//       .register-top-limit {
//         max-width: 100%;
//         justify-content: center;
//       }
//     }
//   }
// }