.header-wrapper {
  height: 60px;
  padding-left: 20px;
  color: #ffffff;
  background-color: #3E3E3E;
  display: flex;
  .header-title {
    line-height: 60px;
    flex-grow: 1;
    font-size: 20px;
    padding-left: 20px;
  }
  .navbar-toggler {
    visibility: hidden;
    border-radius: 0px !important;
    padding: 5px; 
    border-color: rgba(255,255,255,.5);
    &.show-menu {
      margin-right: 260px;
    }
  }
  .navbar-toggler .icon-bar {
    display: block;
    position: relative;
    background: #fff;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    margin: 5px auto;
  }
  .navbar-dark{
    .navbar-toggler{
      border-radius: 0px;
    }
  }
}
@media (max-width: 991px) {
  .header-wrapper {
    .navbar-toggler {
      visibility: visible;
    }
  }
}