.body-click {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
.navbar {
  background-color: #0066b3 !important;
  padding: 0;
  .container {
    max-width: 1170px;
    padding: 0;
    .navbar-nav {
      min-height: 80px;

      .nav-item {
        transition: width 2s;
        animation-duration: 2s;
        &:hover {
          cursor: pointer;
          .dropdown-menu {
            display: block;
            background: #75c4f0;
            border:none;
          }
        }
        .nav-link {
          color: #ffffff !important;
          font-size: 14px;
          line-height: 80px;
          padding: 0 20px;
          &.dropdown-toggle::after{
            background: url('../../assets/img/icArrow.png');
            position: absolute;
            bottom: 36px;
            right: 18px;
            border: none;
            height: 7px;
            width: 13px; 
          }
          &.dropdown-toggle
            {
              margin-right: 15px;
            }
          
        }
        &.active {
          background-color: #005197;
          .nav-link {
            color: #fffefe !important;  
            &.dropdown-toggle::after{
              background: url('../../assets/img/icArrowDown.png') no-repeat right bottom;
              border: none;
              height: 7px;
              width: 13px;  
            }                 
          }      
          
        }
        &:hover {
          background-color: #005197;
          .nav-link {
            color: #fffefe !important;  
            &.dropdown-toggle::after{
              background: url('../../assets/img/icArrowDown.png') no-repeat right 50%;
              border: none;
              height: 7px;
              width: 13px;  
            }                 
          }
        }
      }
    }
    .dropdown-menu {
      background-color: #ffffff;
      padding: 0;
      .dropdown-item {
        color: #111;
        border-bottom: solid 1px #b8e6ff;
        background-color: #75c4f0;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        &:hover {
          background-color: #005197;
          color: #ffffff;
        }
        &:last-child {
          border: none;
        }
      }
      .dropdown-divider {
        border-top: 1px solid rgba(0,0,0,.15);
      }
    }
    .form-inline {
      position: relative;
      margin-left: 20px;

      .search-bar {
        width: 0;
        height: 40px;
        padding: 0;
        border: none;
        border-radius: 0;
        overflow: hidden;
        position: absolute;
        right: 0px;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        transition: width 0.5s;
        z-index: 0;
        background: #005197;
        color: #75c4f0;
        height: 80px;
        &.show {
          width: 850px;
          padding: 20px;
          -webkit-transition: width 0.5s;
          -moz-transition: width 0.5s;
          transition: width 0.5s;
          // border: none;
          box-shadow: none;
         
        }
      }    
      .btn-search {
        margin: 10px 20px;
        cursor: pointer;
        z-index: 9;
      }
    }
  }
}
@media (max-width: 991px) {
  .form-inline {
    position: relative;
    margin: 0 !important;
    .search-bar {
      width: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      overflow: hidden;
      position: absolute;
      left: 60px;
      -webkit-transition: width 0.5s;
      -moz-transition: width 0.5s;
      transition: width 0.5s;
      z-index: 100;
      &.show {
        width: 80vw !important;
        padding: 0 20px;
        -webkit-transition: width 0.5s;
        -moz-transition: width 0.5s;
        transition: width 0.5s;
        border: 1px solid #000000;
        box-shadow: none;
        transition-duration: 1s;
      }
    }
    .btn-search {
      margin: 10px 0;
      cursor: pointer;
    }
  }
}