html, body, #root, .App {
  height: 100%;
  background-color: #ffffff;
  scroll-behavior: smooth;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .list-group-item {
  border-color: #dcdde0;
}

body .badge-danger {
  background: #c4261d;
}

body a {
  cursor: pointer;
}

body a:hover {
  text-decoration: none;
}

body .header-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

body .header-form h3 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body .header-form .btn {
  height: 38px;
}

body .table-right-element {
  text-align: right;
}

body .table-left-element {
  text-align: left;
}

body .table-center-element {
  text-align: center;
}

body .status-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body .status-table-row span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
}

body .status-table-row .active {
  color: blueviolet;
}

body .status-table-row .deactive {
  color: gray;
  text-decoration: line-through;
}

body .status-table-row i {
  margin: auto 10px;
  cursor: pointer;
}

body .action-table-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

body .action-table-row i {
  margin: auto 0;
  cursor: pointer;
}

body .sort-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  height: 40px;
}

body .sort-by label {
  margin: 0;
  height: 40px;
  line-height: 40px;
  font-weight: 500;
}

body .pagination {
  margin: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #a0a0a0;
  font-size: 14px;
  font-family: "Roboto-Medium";
  padding-top: 5px;
}

body .pagination li {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

body .pagination li:hover {
  background-color: rgba(3, 169, 244, 0.05);
}

body .pagination .active {
  background-color: #26c6da;
  color: #ffffff;
}

body .pagination .active:hover {
  background-color: #26c6da;
  color: #ffffff;
}

body .pagination .disabled {
  cursor: not-allowed;
}

body .pagination .disabled a {
  cursor: not-allowed;
}

body .form-content {
  max-width: 500px;
  margin: 30px auto;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 25px;
}

body .form-content .block-error {
  font-size: 14px;
  color: red;
  font-style: italic;
}

body .form-content .form-title {
  margin-bottom: 20px;
}

body .form-content .btn-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 300px;
  margin: auto;
}

body .form-content .btn-form-group .btn {
  min-width: 100px;
}

body .form-content .dropdown-custom {
  width: 100%;
  text-align: left;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: .25rem;
}

body .form-content .dropdown-custom .dropdown-menu {
  width: 100%;
  padding: 10px;
  max-height: 300px;
  overflow-y: scroll;
}

body .form-content .dropdown-custom .dropdown-toggle {
  text-align: left;
  white-space: pre-wrap;
  padding: 5px;
}

body .form-content .dropdown-custom .dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 10px;
  width: 10px;
}
/*# sourceMappingURL=index.css.map */