.review-box {
  font-family: Arial;
  position: relative;
  padding-top: 125px;

  img {
    width: 103px;
    height: 103px;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  }
  .reviewer {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    line-height: 22px;
    text-align: center;
  }
  .title {
    font-size: 13px;
    line-height: 22px;
    color: rgba(102,102,102,0.7);
    text-align: center;
  }
  .detail {
    font-size: 24px;
    color: #333333;
    line-height: 35px;
    margin: 36px auto 78px auto;
    text-align: center;
    position: relative;
    width: 100%;
    .desc{
      padding:15px;display: inline;
    }
    span {
      font-size: 48px;
      &.clQ1{
        content: url('../../../assets/img/icQ2.png');
        width: 13px;
        height: 11px;
        position: absolute;left: 4px;
      }
      &.clQ2{
        content: url('../../../assets/img/icQ1.png');
        width: 13px;
        height: 11px;
        position: relative;
        // right: 0px;bottom: 0px;
      }
      
    }
  }
}