.news-page {
  .news-banner {
    height: 100px;
    background: url(../../assets/img/banner-kienthuc.png) no-repeat center;
    h3 {
      font-size: 30px;
      color: #ffffff;
      line-height: 100px;
      text-align: center;
    }
  }
  .news-content {
    max-width: 1170px;
    margin: auto;
    display: flex;
    padding: 30px 0 30px 0;
    flex-flow: row wrap;
    .title {
      font-size: 25px;
      color: #125491;
      font-family: Arial;
    }
    hr {
      width: 71px;
      height: 2px;
      background-color: #125491;
      margin: 0 0 20px 0;
      text-align: left;
    }
    .new-footer {
      margin-top: 11px;
      color: #666666;
      font-size: 0.875rem;
      i {
        padding: 0 5px 0 5px;
        border-left: 1px solid #abaeaf;
      }
      span {
        margin-right: 5px;
      }
    }
    .news-detail-page {
      .current-menu-news {
        height: 32px;
        background-color: #ecf0f3;
        padding: 8px 14px;
        color: #125491;
        font-size: 14px;
        font-family: Arial;
        line-height: 32px;
      }
      .news-detail-title {
        font-size: 30px;
        color: #333333;
        min-height: 33px;
        line-height: 33px;
        font-family: Arial;
        margin: 16px 0 10px 0;
      }
    }
    .list-news {
      flex-grow: 1;
      flex-basis: 64%;
      margin-right: 25px;
      .list-new-box {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        .new-item {
          flex-basis: 48%;
          margin-bottom: 25px;
          &:nth-child(odd) {
            margin-right: 25px;
          }
          img {
            width: 100%;
            margin-bottom: 10px;
          }
          .title {
            color: #333333;
            line-height: 25px;
            font-size: 16px;
            font-family: Arial;
            text-transform: uppercase;
            font-weight: bold;
          }
          .new-des {
            color: #333333;
            font-size: 14px;
            font-family: Arial;
            line-height: 20px;
          }
          .btn-detail {
            width: 100px;
            height: 30px;
            line-height: 30px;
            background-color: #125491;
            color: #ffffff;
            font-size: 14px;
            font-family: Arial;
            cursor: pointer;
            text-align: center;
            margin-top: 12px;
            &:hover {
              background-color: #0066b3;
            }
          }
        }
      }
      .pagination {
        margin-top: 15px;
        font-family: "Arial", Helvetica, sans-serif;
        li {
          border: 1px solid #cccccc;
          margin-right: 5px;
          a {
            color: #111111;
          }
        }
        .active {
          background-color: #125491;
          a {
            color: #ffffff;
          }
        }
        .btn-Pagination {
          height: 15px;
        }
      }
    }
    .list-news-menu {
      flex-basis: 32%;
      margin-bottom: 20px;
      .news-menu-item {
        color: #333333;
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        padding: 10px;
        border: 1px solid #dedede;
        cursor: pointer;
        &.selected {
          color: #125491;
          background-color: #dce0e4;
        }
      }
    }
    .box-news {
      flex-basis: 32%;
      .list-news-top {
        .title {
          color: #333333;
          font-size: 16px;
          line-height: 27px;
          font-weight: bold;
        }
        hr {
          width: 71px;
          height: 2px;
          background-color: #5a5e60;
          margin: 0 0 20px 0;
        }
        .new-top-item {
          display: flex;
          margin-bottom: 20px;
          img {
            width: 80px;
            height: 80px;
          }
          .new-info {
            flex-grow: 1;
            padding-left: 20px;
            font-family: Arial;
            position: relative;
            .new-hot-title {
              color: #272b2b;
              font-size: 14px;
            }
            .new-info-footer {
              color: #666666;
              font-size: 13px;
              // position: absolute;
              bottom: 0;
              i {
                padding: 0 5px 0 5px;
                border-left: 1px solid #abaeaf;
              }
              span {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .news-page {
    .news-content {
      .title {
        font-size: 22px;
      }
      hr {
        margin-bottom: 15px;
      }
      .list-news {
        .list-new-box {
          .new-item {
            &:nth-child(odd) {
              margin-right: 0px;
            }
            flex-basis: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .news-page {
    .news-content {
      flex-direction: column-reverse;
      .list-news{
        margin-right: 0px;
      }
    }
  }
}
// @media screen and (max-width:374px)
// {
//   .news-page {
//     .news-content {
//     }
//   }
// }