.footer-box {
  height: auto;
  width: 100%;
  background-color: #005197;

  .footer {
    max-width: 1170px;
    margin: auto;
    padding: 27px 0px;
    display: flex;
    justify-content: space-around;

    .footer-item {
      display: flex;
      flex-direction: column;
      .item-header {
        font-family: Arial;
        font-size: 15px;
        color: #ffffff;
        font-weight: bold;
      }
      hr {
        width: 48px;
        height: 1px;
        margin: 0 0 15px 0;
        background-color: #ffffff;
      }
      a {
        font-family: Arial;
        font-size: 14px;
        color: #ffffff;
        margin: 5px 0px;
        &:hover {
          text-decoration: underline;
        }
        &.item-icon{
          width: auto;
          padding: 0px 10px 0 0px;
        }
      }

      span {
        font-size: 14px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
      }
      p {
        color: #ffffff;
        font-size: 14px;
        line-height: 20px;
        margin: 5px 0px;
      }
      &:last-child{
        display: inline;
      }

      &:nth-child(3){
        .item-content{ 
          // &:nth-child(1)
          // {
          //   &::before{
          //       content: url('../../assets/img/icTele.png');
          //     }
          // }
          // &:nth-child(2)
          // {         
          //   &::before{
          //     content: url('../../assets/img/icSkypeSM.png');
          //     padding-right: 5px;          
          //   }
          // }
          
          &::before{
            content: url('../../assets/img/icSkypeSM.png');
            padding-right: 5px;          
          }
        }
      }

    }
  }
}
.footer-copyrights {
  height: 46px;
  background-color: #222222;
  box-shadow: 0 0 1px 0 #cccccc;
  color: #ffffff;
  text-align: center;
  line-height: 46px;
  font-family: Arial;
  font-size: 14px;
  
}
@media (max-width: 767px) {
  .footer-box {
    display: none;
  }
}